.noScriptWarningBox {
	position: sticky;
	top: 1em; /* Conforms to the overall margin of the body element defined in the body {}*/
	padding: .5em;
	background-color: rgb(255, 70, 70);
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3); /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.noScriptWarningBox h4 {
	margin: 0;
	color: white;
}

.noScriptWarningBox a {
	text-decoration-line: underline;
	color: white;
}
