/* Font */
@import url("/CSS/Fonts/Jost.css");

/* Underlined Input */
@import url("/CSS/UnderlinedInput.css");

/* NoScript Warning Element */
@import url("/CSS/NoScriptWarning.css");

body {
	margin: 1em;
	width: fit-content;
}

a {
	text-decoration-line: none;
	color: #1E88E5;
}

a:hover {
	text-decoration-line: underline;
}
